@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Kanit', sans-serif;
  background: #dcf0f4;
}
.page-title {
  margin-top: 90px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.banner-wrapper {
  overflow: hidden;
}
